/* Move down content because we have a fixed navbar that is 50px tall */
html, body {
	background-image: url('../images/penn_landscape.jpg');s
	background-size: cover;
	height: 100% !important;
}

.container {
	padding: 0px;
	margin: 2%;
	width: 96%;
}

div#content {
	height: 100%;
}

div#header {
	position: absolute;
}

div#footer {
	position: absolute;
}

.navbar {
	background-color: maroon;
	margin: 0px;
}
.navbar-header img {
	max-height: 50px;
	margin: 5px;
}

.major_select {
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-header a {
	float: right;
	font-size: 36px;
	font-family: 'Montserrat', sans-serif;
	font: bolder !important;
	color: lightgray !important;
	margin: 5px;	
}

.navbar-right a {
	font-size: 24px;
	margin-top: 8px;
	font-family: 'Montserrat', sans-serif;
	font: bolder !important;
	color: lightgray !important;
}

.dropdown-menu {
	background-color: maroon;
	text-align:center;
}

.btn-success {
	background-color: darkblue;
	border-color: lightgray;
}

.dropdown-object-button li {

}

.resources {

}

.resources h2 {
	font-family: 'Montserrat', sans-serif;
	font-style: italic !important;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 30px;
	color: #ffe6e6;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
}

.resources p {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-style: bolder !important;
	font-size: 16px;
	color: #ffe6e6;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
}

.major_dropdown {
	padding-top: 20px;
	padding-bottom: 20px;
}

.keyword_entry {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.slidecontainer {
    width: 100%;
}

.output_blocks {
	text-align: center;
	align-items: center;
	justify-content: center;
}

.btn {
	color: white;
}

.keyword_entry {
	padding-bottom: : 5px;
	padding-top: 0px;
}

.major_dropdown {
	padding-bottom: : 5px;
	padding-top: 0px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: rgba(128, 0, 0, .3);
  margin-left: 5%;
  margin-right: 5%;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
}

.flex-container p {
	margin: 0px;
	color: #ffe6e6;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	margin-top: 10px;
}

.flex-container > div {
  width: 90%;
  text-align: center;
  font-size: 24px;
  color: #ffe6e6;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  padding-bottom: 5px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
}

#rounded_corners {
    border-radius: 10px; 
}

.footer {
	background-color: maroon;
	color: lightgray;
	bottom: 0;
	height: 20px;
	width: 100%;
	position: fixed;
}

