

{% extends "layout.html" %}

{% block content %}

  <div class="resources">
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <h2>Enter Your Preferences</h2>
          <form method="POST">
            <div class="qualitative">
              
            </div>
            <!-- <div class="row">
              <div class="major_select">
                <div class="col-md-6">
                  <p>Select Your Major</p>
                </div>
                <div class="col-md-6">
                  <div class="major_dropdown" align="middle">
                    <select name="major">
                      <option value="BE">Bioengineering</option>
                      <option value="CBE">Chemical and Biomolecular Engineering</option>
                      <option value="CHEM">Chemistry</option>
                      <option value="CIS">Computer and Information Science</option>
                      <option value="CIT">Computer and Information Technology</option>
                      <option value="EAS">Engineering and Applied Science</option>
                      <option value="ENM">Engineering Mathematics</option>
                      <option value="MSE">Materials Science and Engineering</option>
                      <option value="PHYS">Physics</option>
                    </select>
                  </div>
                </div>
              </div>
            </div> -->
<!--             <div class="row">
              <div class="col-md-6">
                <p>Enter in a Keyword</p>
              </div>
              <div class="col-md-6">
                <div class="keyword_entry">
                  <input id="kw", type="text" name="kw">
                </div>
              </div> 
            </div> -->
            <div class="row">
              <div class="col-md-6">
                <p>Course Difficulty</p>
              </div>
              <div class="col-md-6">
                <div class="slidecontainer">
                  <input type="range" min="1" max="5" value="3" class="slider" step="0.1" id="course_diff" name="course_diff">
                  <p>Value: <span id="demo"></span></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p>Instructor Accessibility</p>
              </div>
              <div class="col-md-6">
                <div class="slidecontainer">
                  <input type="range" min="1" max="5" value="3" step="0.1" class="slider2" id="inst_acc" name="inst_acc">
                  <p>Value: <span id="demo2"></span></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p>Student Interest</p>
              </div>
              <div class="col-md-6">
                <div class="slidecontainer">
                  <input type="range" min="1" max="5" value="3" step="0.1" class="slider3" id="stud_int" name="stud_int">
                  <p>Value: <span id="demo3"></span></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p>Value of Readings</p>
              </div>
              <div class="col-md-6">
                <div class="slidecontainer">
                  <input type="range" min="1" max="5" value="3" step="0.1" class="slider3" id="value_read" name="value_read">
                  <p>Value: <span id="demo4"></span></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p>Work Required</p>
              </div>
              <div class="col-md-6">
                <div class="slidecontainer">
                  <input type="range" min="1" max="5" value="3" step="0.1" class="slider3" id="work_req" name="work_req">
                  <p>Value: <span id="demo5"></span></p>
                </div>
              </div>
            </div>
            <div style="text-align: center">
              <input type="submit" class="btn btn-default btn-lg" value="Submit" style="background-color: maroon">
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <div class="output_blocks">
            <h2>Find Your Perfect Course</h2>
            <div class="flex-container" id="rounded_corners">
              <div>
                {{ course1_alias }} : {{ course1_name }}</p>
                <p>Summary: {{ course1_summ }}</p>
                <br>
                <h4>
                  {{ course1_inst_name }} / {{  course1_semester  }}
                </h4>
                <div class="row">
                  <div class="col-md-6">
                    <p>Course Difficulty</p>
                    <p>Instructor Accessibility</p>
                    <p>Student Interest</p>
                    <p>Value of Readings</p>
                    <p>Work Required</p>
                  </div>
                  <div class="col-md-6">
                    <p>{{ input_course_diff }}</p>
                    <p>{{ input_inst_acc }}</p>
                    <p>{{ input_stud_int }}</p>
                    <p>{{ input_value_read }}</p>
                    <p>{{ input_work_req }}</p>
                  </div>
                </div>
              </div>
            </div>
            <br>
<!--             <div class="flex-container" id="rounded_corners">
              <div>
                {{ course1_name }}: {{ course1_acc }} match!</p>
                <p>Summary: {{ course1_summ }}</p>
                <br>
                <div class="row">
                  <div class="col-md-6">
                    <p>Course Difficulty</p>
                    <p>Instructor Accessibility</p>
                    <p>Student Interest</p>
                    <p>Value of Readings</p>
                    <p>Work Required</p>
                  </div>
                  <div class="col-md-6">
                    <p>{{ input_course_diff }}</p>
                    <p>{{ input_inst_acc }}</p>
                    <p>{{ input_stud_int }}</p>
                    <p>{{ input_value_read }}</p>
                    <p>{{ input_work_req }}</p>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
       </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <footer>
      <div class="footer-text">
        <p>&copy; Bloom Positivity Consulting, Inc.</p>
      </div>
    </footer>
  </div>
  </div> <!-- /container -->


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script>
    var slider = document.getElementById("course_diff");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;

    slider.oninput = function() {
      output.innerHTML = this.value;
    }
  </script>
  <script>
    var slider2 = document.getElementById("inst_acc");
    var output2 = document.getElementById("demo2");
    output2.innerHTML = slider2.value;

    slider2.oninput = function() {
      output2.innerHTML = this.value;
    }
  </script>
  <script>
    var slider3 = document.getElementById("stud_int");
    var output3 = document.getElementById("demo3");
    output3.innerHTML = slider3.value;

    slider3.oninput = function() {
      output3.innerHTML = this.value;
    }
  </script>
  <script>
    var slider4 = document.getElementById("value_read");
    var output4 = document.getElementById("demo4");
    output4.innerHTML = slider4.value;

    slider4.oninput = function() {
      output4.innerHTML = this.value;
    }
  </script>
  <script>
    var slider5 = document.getElementById("work_req");
    var output5 = document.getElementById("demo5");
    output5.innerHTML = slider5.value;

    slider5.oninput = function() {
      output5.innerHTML = this.value;
    }
  </script>



{% endblock %}

